<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <table style="border: 2px solid black;width: 60%;">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>mail</th>
            </tr>
        </thead>
        <tbody>
            <%if (data.length>0){ %>
            <% data.forEach(function(row){ %>
                <tr>
                    <td><%= row._id %></td>
                    <td><%= row.name %></td>
                    <td><%= row.email %></td>
                    <td><a href="/users/edit/?id=<%= row._id %>"><i class="fa fa-edit"></i></a></td>
                    <td><a href="/users/del/?id=<%= row._id %>"><i class="fa fa-trash"></i></a></td>
                </tr>
                <% })}else{ %>
                    <tr>
                        <td colspan="6">NO record found..!!</td>
                    </tr>
                <% } %>
        </tbody>

    </table>
</body>
</html>